<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>SEYAHAT ETMEYİ Mİ DÜŞÜNÜYORSUNUZ ?</h2>
                <h4>Butona Tıklayarak Rezervasyon Yapın</h4>
            </div>
            <div class="col-lg-4">
                <div class="border-button">
                    <a href="#" data-toggle="modal" data-target="#newModal">Şimdi Rezervasyonunuzu Yapın</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © @DateTime.Now.Year <a href="#">WoOx Travel</a> Kuruluşudur. Tüm Hakları Saklıdır.
                    <br>Tasarım: <a href="https://templatemo.com" target="_blank" title="free CSS templates">WoOx</a> Yazar: <a href="# target="_blank">Anıl Altun</a>
                </p>
            </div>
        </div>
    </div>
</footer>
