<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/kaiadmin-lite-1.2.0/index.html" class="logo">
                <img src="/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index">
                        <i class="fas fa-home"></i>
                        <p>Ana Sayfa</p>
                        <span class="badge badge-secondary">Yeni</span>
                    </a>
                </li>

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">BANA ÖZEL</h4>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Profile">
                        <i class="fas fa-user"></i>
                        <p>Profil</p>
                    </a>
                    <a href="/Admin/Message/Inbox">
                        <i class="fas fa-envelope"></i>
                        <p>Gelen Mesajlar</p>
                    </a>
                    <a href="/Admin/Message/SendBox">
                        <i class="fas fa-envelope-open"></i>
                        <p>Giden Mesajlar</p>
                    </a>
                </li>

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">İŞLEMLER</h4>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Profile/ProfileList">
                        <i class="fas fa-users"></i>
                        <p>Kullanıcılar</p>
                    </a>
                    <a href="/Admin/Category/CategoryList">
                        <i class="fas fa-cube"></i>
                        <p>Kategoriler</p>
                    </a>
                    <a href="/Admin/Destination/DestinationList">
                        <i class="fas fa-route"></i>
                        <p>Tur Rotaları</p>
                    </a>
                    <a href="/Admin/Reservation/ReservationList">
                        <i class="fas fa-file-contract"></i>
                        <p>Rezervasyonlar</p>
                        @*<span class="badge badge-secondary">Yakında</span>*@
                    </a>
                </li>

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">GRAFİKLER</h4>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>
                        <p>Bar Grafik</p>
                    </a>
                    <a href="#">
                        <i class="fas fa-chart-line"></i>
                        <p>Çizgi Grafik</p>
                    </a>
                    <a href="#">
                        <i class="fas fa-chart-pie"></i>
                        <p>Pasta Grafik</p>
                    </a>
                    <a href="#">
                        <i class="fas fa-chart-area"></i>
                        <p>Area Grafik</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>