@model List<Project2WooxTravel.Entities.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addCategory">Yeni Kategori Girişi</a>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">KATEGORİ ID</th>
                                    <th scope="col">KATEGORİ ADI</th>
                                    <th scope="col">İŞLEMLER</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CategoryId</td>
                                        <td>@item.CategoryName</td>
                                        <td>
                                            <a href="/Admin/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a>
                                            <a href="/Admin/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="addCategory"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">Kategori Ekle</span>
                </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/Admin/Category/AddCategory">
                <div class="modal-body">
                    <label>Kategori Adı</label>
                    <input type="text" name="CategoryName" class="form-control" required="" />
                    <br />
                </div>
                <div class="modal-footer border-0">
                    <button id="btn1" class="btn btn-primary">
                        Kaydet
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        Vazgeç
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>